.react-tabs__tab-list {
    margin: 0 0 0px;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.react-tabs__tab {
    display: inline-block;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
}

.react-tabs__tab--selected {
    background: #fff;
    border-color: #aaa;
    color: black;
    border-bottom:1px solid red;
}

.react-tabs__tab-panel {
    display: none;
    padding: 16px;
}

.react-tabs__tab-panel--selected {
    display: block;
}

.react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
}

.react-tabs__tab:hover {
    border-bottom:1px solid grey;
}

.description {
    display:flex;
    justify-content: center;
    align-items: center;
}

.vr {
    border-left: 1px solid #f1f1f1;
    height: 120px;
    margin-left: 16px;
    margin-right: 16px;
}

hr {
    border-color: #f1f1f1;
}

button {
    border-radius:4px;
    border:1px solid #12c4f1;
    display:inline-block;
    cursor:pointer;
    color: #6ac4f1;
    font-family:Arial;
    font-size:14px;
    padding:7px 14px;
    text-decoration:none;
}

.blockquote {
    border-radius: 8px;
}


